#nav-container {
	margin-top: 1%;
}

.main-title {
	margin: 2% 0;
}

#thanks-registration h2 {
	margin-top: 15%;
}
.kv-avatar {
	margin: 1% 0;
}
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
.avatar-table {
	width: 30px;
	height: 30px;
}
